<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Поиск лекарств</title>
</head>

<body>
    {% include 'user_block.html' %}
    <h1>База данных местонахождения лекарств</h1>
    <br>
    <a href="{% url 'cities' %}"> Города </a>
    <br>
    <a href="{% url 'streets' %}"> Улицы </a>
    <br>
    <a href="{% url 'pharmacies' %}"> Аптеки </a>
    <br>
    <a href="{% url 'place' %}"> Места </a>
    <br>
    <a href="{% url 'cures' %}"> Лекарства </a>
    <br>
</body>
</html>
