<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Поиск лекарств</title>
</head>

<body>
    {% include 'user_block.html' %}
    <h1>База данных местонахождения лекарств в городах</h1>
    <p><a href="{% url 'cities' %}"> Списо городов </a></p>
    <p><a href="{% url 'streets' %}"> Список улиц </a></p>
    <p><a href="{% url 'pharmacies' %}"> Список аптек </a></p>
    <p><a href="{% url 'place' %}"> Список лекарств и их количества  </a></p>
    <p><a href="{% url 'cures' %}"> Местонахождение лекарств </a></p>
</body>
</html>
