{% extends 'base.html' %}

{% block page_title %}
    <h1> Список лекарств и их количества </h1>
{% endblock %}

{% block page_content %}
    <table>
        {% for p in place %}
            <tr>
                <td>{{p.cure.name}}</td>
                <td>Количество:{{p.quantity}} </td>
                {% if request.user.is_authenticated %}
                    <td><a href="#"> Изменить </a></td>
                    {% if power_user %}
                        <td><a href="#"> Удалить </a></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
    {% if request.user.is_authenticated %}
        {% if power_user %}
            <a href="#"> Добавить лекарство</a>
        {% endif %}
    {% endif %}
{% endblock %}