{% extends 'base.html' %}

{% block page_title %}
    <h1> Местоположение лекарств и их количество </h1>
{% endblock %}

{% block page_content %}
    <table>
        {% for p in place %}
            <tr>
                <td>{{p.pharmacy}} - </td>
                <td>{{p.cure.name}} - </td>
                <td>Количество:{{p.quantity}} </td>
                {% if request.user.is_authenticated %}
                    <td><a href="{% url 'edit_place' p.id %}"> Изменить </a></td>
                    {% if power_user %}
                        <td><a href="{% url 'del_place' p.id %}"> Удалить </a></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <br>
    {% if request.user.is_authenticated %}
        {% if power_user %}
            <a href="{% url 'new_place' %}"> Добавить местоположение и количество</a>
        {% endif %}
    {% endif %}
<p><a href="{% url 'index' %}"> < Назад </a> </p>
{% endblock %}